@import '../../variables.less';
@button-prefix-cls: ~'@{sugar-prefix}-button';

@btn-border-radius: @vario-radius;
@btn-border-color: @vario-primary;

// normal
@btn-normal-bg: @vario-primary;
@btn-normal-color: @vario-white-text;
@btn-normal-hover-bg: @vario-primary-80;
@btn-normal-click-bg: @vario-primary-80;
@btn-normal-click-color: @vario-white-text;
@btn-normal-ghost-bg: @vario-info;
@btn-normal-disable-bg: @vario-primary-40;
@btn-normal-disable-color: @vario-forbidden-text;

// success
@btn-success-bg: @vario-success;
@btn-success-color: @vario-white-text;
@btn-success-hover-bg: @vario-success-80;
@btn-success-click-bg: @vario-success-80;
@btn-success-click-color: @vario-white-text;
@btn-success-disable-bg: @vario-success-40;
@btn-success-ghost-bg: @vario-info;
@btn-success-disable-color: @vario-forbidden-text;

// info
@btn-info-bg: @vario-info;
@btn-info-color: @vario-white-text;
@btn-info-hover-bg: @vario-info-80;
@btn-info-click-bg: @vario-info-80;
@btn-info-click-color: @vario-white-text;
@btn-info-ghost-bg: @vario-info;
@btn-info-disable-bg: @vario-info-40;
@btn-info-disable-color: @vario-forbidden-text;

// warning
@btn-warning-bg: @vario-warning;
@btn-warning-color: @vario-white-text;
@btn-warning-hover-bg: @vario-warning-80;
@btn-warning-click-color: @vario-white-text;
@btn-warning-click-bg: @vario-warning-80;
@btn-warning-ghost-bg: @vario-info;
@btn-warning-disable-bg: @vario-warning-40;

// danger
@btn-danger-bg: @vario-danger;
@btn-danger-color: @vario-white-text;
@btn-danger-click-color: @vario-white-text;
@btn-danger-hover-bg: @vario-danger-80;
@btn-danger-click-bg: @vario-danger-80;
@btn-danger-ghost-bg: @vario-info;
@btn-danger-disable-bg: @vario-danger-40;

// anti
@btn-anti-main-color: red;
@btn-anti-main-bg: red;
@btn-anti-main-click-bg: red;
@btn-anti-main-hover-bg: red;
@btn-anti-main-disable-bg: red;
@btn-anti-secondary-hover-bg: red;
@btn-anti-secondary-color: red;
@btn-anti-secondary-click-bg: red;
@btn-anti-secondary-disable-bg: red;
@btn-anti-secondary-bg: red;
@White: @vario-white-text;

@B-40-t: #fff;
@B-50-t: #fff;
@W-20-t: #fff;
@W-30-t: #fff;
@W-50-t: #fff;
@W-80-t: #fff;

@button-sm-width: 56px;
@button-md-width: 96px;
@button-lg-width: 144px;
@button-xl-width: 144px;

@button-sm-height: 28px;
@button-md-height: 32px;
@button-lg-height: 48px;
@button-xl-height: 60px;

@button-sm-padding: 8px;
@button-md-padding: 14px;
@button-lg-padding: 24px;
@button-xl-padding: 40px;

@button-sm-font-size: 12px;
@button-md-font-size: 14px;
@button-lg-font-size: 16px;
@button-xl-font-size: 16px;

// 样式优先级 ghost/antiWhite > color

.common-state-style(@color, @bgColor, @hbgColor, @clickColor, @clickBgColor) {
  color: @color;
  background-color: @bgColor;

  &:hover {
    background-color: @hbgColor;
  }

  &:active {
    color: @clickColor;
    background-color: @clickBgColor;
  }

  &:focus {
    background-color: @btn-normal-bg;
  }
}

.common-link-style(@color, @hoverColor) {
  // color: @color;
  color: red;
  // background: none !important;
  border: 1px solid transparent;

  // &:hover {
  //   background: none !important;
  //   color: @hoverColor;
  //   color: red;
  //   border: 1px solid transparent;
  // }

  // &:active {
  //   color: @hoverColor;
  //   background: none;
  // }
}

.common-ghost-style(@color, @hoverColor) {
  color: @color;
  background: none;
  border: 1px solid @color;

  &:hover {
    background: none;
    color: @hoverColor;
    border: 1px solid @hoverColor;
  }

  &:active {
    color: @hoverColor;
    background: none;
  }
}

.common-disabled-style(@color, @bgColor) {
  color: @color;
  background-color: @bgColor;

  &:hover,
  &:active,
  &:focus {
    background-color: @bgColor;
  }
}

// 平常状态
.@{button-prefix-cls} {
  position: relative;
  text-align: center;
  display: inline-block; // min-width生效
  box-sizing: border-box;
  border-radius: @btn-border-radius;
  cursor: pointer;
  margin: 5px;
  user-select: none;
  transition: all @vario-transition;

  // &-main {
  //   background-color: pink;
  // }

  // 链接
  &-link {
    color: @vario-primary;
    background: none;
    border: 1px solid transparent;

    &-normal {
      // background: none;
      // .common-state-style(red, @btn-normal-bg, @btn-normal-hover-bg, @btn-normal-click-color, @btn-normal-click-bg)

      .common-link-style(@btn-normal-color, @btn-normal-hover-bg);
    }

    &-success {
      .common-link-style(@btn-success-color, @btn-success-hover-bg);
    }

    &-info {
      .common-link-style(@btn-info-color, @btn-info-hover-bg);
    }

    &-danger {
      .common-link-style(@btn-danger-color, @btn-danger-hover-bg);
    }

    &-warning {
      .common-link-style(@btn-warning-color, @btn-warning-hover-bg);
    }
  }

  // 大小
  &-small {
    min-width: @button-sm-width;
    height: @button-sm-height;
    line-height: @button-sm-height;
    padding: 0 @button-sm-padding;
    font-size: @button-sm-font-size;
  }

  &-middle {
    min-width: @button-md-width;
    height: @button-md-height;
    line-height: @button-md-height;
    padding: 0 @button-md-padding;
    font-size: @button-md-font-size;
  }

  &-large {
    min-width: @button-lg-width;
    height: @button-lg-height;
    line-height: @button-lg-height;
    padding: 0 @button-lg-padding;
    font-size: @button-lg-font-size;
  }

  &-thumb {
    min-width: @button-xl-width;
    height: @button-xl-height;
    line-height: @button-xl-height;
    padding: 0 @button-xl-padding;
    font-size: @button-xl-font-size;
  }

  // 色调
  &-normal {
    .common-state-style(@btn-normal-color, @btn-normal-bg, @btn-normal-hover-bg, @btn-normal-click-color, @btn-normal-click-bg);
  }

  &-success {
    .common-state-style(@btn-success-color, @btn-success-bg, @btn-success-hover-bg, @btn-success-click-color, @btn-success-click-bg);
  }

  &-warning {
    .common-state-style(@btn-warning-color, @btn-warning-bg, @btn-warning-hover-bg, @btn-warning-click-color, @btn-warning-click-bg);
  }

  &-danger {
    .common-state-style(@btn-danger-color, @btn-danger-bg, @btn-danger-hover-bg, @btn-danger-click-color, @btn-danger-click-bg);
  }

  &-info {
    .common-state-style(@btn-info-color, @btn-info-bg, @btn-info-hover-bg, @btn-info-click-color, @btn-info-click-bg);
  }

  // 按钮宽度调整为父宽度
  &-block {
    width: 100%;
    height: 100%;
  }

  // 幽灵
  &-ghost {
    &-normal {
      .common-ghost-style(@btn-normal-color, @btn-normal-hover-bg);
    }

    &-success {
      .common-ghost-style(@btn-success-color, @btn-success-hover-bg);
    }

    &-info {
      .common-ghost-style(@btn-info-color, @btn-info-hover-bg);
    }

    &-danger {
      .common-ghost-style(@btn-danger-color, @btn-danger-hover-bg);
    }

    &-warning {
      .common-ghost-style(@btn-warning-color, @btn-warning-hover-bg);
    }
  }

  // 禁用
  &-disabled {
    cursor: not-allowed;
    color: @btn-normal-disable-color;
    background-color: @btn-normal-disable-bg;

    &-normal {
      .common-disabled-style(@btn-normal-color, @btn-normal-disable-bg);
    }

    &-success {
      .common-disabled-style(@btn-success-color, @btn-success-disable-bg);
    }

    &-warning {
      .common-disabled-style(@btn-warning-color, @btn-warning-disable-bg);
    }

    &-danger {
      .common-disabled-style(@btn-danger-color, @btn-danger-disable-bg);
    }

    &-info {
      .common-disabled-style(@btn-info-color, @btn-info-disable-bg);
    }

    &-ghost {
      color: @btn-normal-disable-color;
      background: none;
      border: 1px solid @vario-forbidden-text;

      &:hover,
      &:active,
      &:focus {
        color: @btn-normal-disable-color;
        // background-color: @btn-normal-disable-bg;
        border: 1px solid @vario-forbidden-text;
        background: none;
      }
    }
  }
}
