// src/variables.less
@vario-white: #ffffff; // 主题颜色
@vario-black: #26266c; // 主题颜色
@vario-primary: #4d90fe; // 主题颜色
@vario-danger: #ff4d4f; // 危险颜色
@vario-forbidden-bg: #f5f5f5; // 禁用颜色
@vario-forbidden-text: #b8b8cc; // 禁用字体颜色
@vario-transition: 0.3s;
